.filterButtons {
  display: flex;
  gap: 1.9rem;
}

.filterButton {
  color: #9495a5;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.194px;
  cursor: pointer;
}

.filterSelected {
  color: #3a7cfd;
}

@media (max-width: 38em) {
  .filterButton {
    font-size: 1.2rem;
  }
}
